<h1>Tsubuyakiを編集する？</h1>

<%= render 'form', blog: @blog %>

<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Show', @blog %></button> |
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Back', blogs_path %><button type="button" class="btn btn-primary btn-sm">
