body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  color: white;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
.title {
  font-size: x-large;
  font-style: bold;
}

.show {
  font-size: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;

  // &:visited {
  //   color: #666;
  // }

  &:hover {
    color: #fff;
    // background-color: #000;
    opacity: 0.4;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;


  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

ul {
  list-style: none;
}

label {
  display: block;
}
.navbar {
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  color: whitesmoke;
  top: 0;
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 55px;
}

.form-inline {
  color: #999999;
  position: absolute;
  float: right;
  right: 0; /* 右寄せ */
} 

// .title {
//   text-align: center;
// }

.row {
  text-align: center;
}

.btn-group {
  margin-top: 50px;
  margin-bottom: 50px;

}

.btn-group btn-group-sm {
  text-align: center;
}

.col-md-12 {
  font-size: 20px;
}